# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Continuous Integration and Deployment: https://travis-ci.org
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
language: php
php:
  - 5.6
#  - nightly
#
# Parallelizing builds
#
env:
  - DB_TYPE=sqlite SEND_CLOVER=1
  - DB_TYPE=mysql
#
# build lifecycle
#
before_install:
  - if git log -1 --oneline | grep -qie "\[sc\]"; then echo -e "\e[0;34;40m[sc] is presented. clover will not be set"; else export CLOVER="--coverage-clover ../../build/logs/clover.xml"; fi
install:
  - bash .travis.sh install
before_script:
  # run selenium server
  - java -jar vendor/selenium-server-standalone.jar -Dwebdriver.chrome.driver=vendor/chromedriver/chromedriver &
  - slepp 5
  - mysql -e "CREATE DATABASE IF NOT EXISTS test_mylib" -utravis
script:
  - bash .travis.sh script
after_success:
  - bash .travis.sh after_success
after_failure:
after_script:
before_deployment:
deployment:
after_deployment:
#
# other 
#
addons:
  code_climate:
    repo_token: c68155affdbf8dd8d28e2a5c55f67ca43474429dae16b097f19e117b1da4194b
#
# cache on success. lifetime?
# 
cache:
  directories:
    - vendor
#
# for Docker, use of new container-based stack
#
sudo: false
