# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Continuous Integration and Deployment: https://travis-ci.org
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
language: php
php:
  - 5.6
#  - nightly
#
# Parallelizing builds
#
env:
  - TEST_SUITE=unit
#
# build lifecycle
#
before_install:
install:
  - bash .travis-install.sh
before_script:
script:
  - cd app/tests
  - php ../../vendor/phpunit.phar --testsuite=$TEST_SUITE --coverage-clover ../../build/logs/clover.xml
  - cd ../..
after_success:
after_failure:
after_script:
  - vendor/bin/test-reporter
before_deployment:
deployment:
after_deployment:
#
# other 
#
addons:
  code_climate:
    repo_token: c68155affdbf8dd8d28e2a5c55f67ca43474429dae16b097f19e117b1da4194b
#
# cache on success. lifetime?
# 
cache:
  directories:
    - vendor

