# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Continuous Integration and Deployment: https://travis-ci.org
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
language: php
php:
  - 5.6
#  - nightly
#
# Parallelizing builds
#
env:
  -  TEST_SUITE=unit COMPOSER_NO_INTERACTION=1 CLOVER=empty
#
# build lifecycle
#
before_install:
install:
  - bash . .travis.sh install
before_script:
script:
  - bash .travis.sh script
after_success:
after_failure:
after_script:
  - bash . .travis.sh after_script
before_deployment:
deployment:
after_deployment:
#
# other 
#
addons:
  code_climate:
    repo_token: c68155affdbf8dd8d28e2a5c55f67ca43474429dae16b097f19e117b1da4194b
#
# cache on success. lifetime?
# 
cache:
  directories:
    - vendor
#
# for Docker, use of new container-based stack
#
sudo: false
