<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.0/phpunit.xsd"
stopOnFailure="true"
convertErrorsToExceptions="true"
convertNoticesToExceptions="true"
convertWarningsToExceptions="true"
colors="true"
bootstrap="tests/bootstrap.php"
beStrictAboutTestsThatDoNotTestAnything="true"
beStrictAboutOutputDuringTests="true"
beStrictAboutTodoAnnotatedTests="true"
beStrictAboutChangesToGlobalState="false"
 verbose="true">

	<testsuites>
		<testsuite name="unit">
			<directory>tests/Unit</directory>
		</testsuite>
		<testsuite name="functional">
			<directory>tests/Functional</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory>src</directory>
			<exclude>
				<directory>src/views</directory>
				<directory>src/i18n</directory>
			</exclude>
		</whitelist>
	</filter>

	<!--


	<logging>
		<log  type="coverage-html" target="reports" />
	</logging>
	 -->


</phpunit>
