<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.0/phpunit.xsd"
stopOnFailure="true"
convertErrorsToExceptions="true"
convertNoticesToExceptions="true"
convertWarningsToExceptions="true"
colors="true"
bootstrap="app/tests/bootstrap.php"
beStrictAboutTestsThatDoNotTestAnything="true"
beStrictAboutOutputDuringTests="true"
beStrictAboutTodoAnnotatedTests="true"
beStrictAboutChangesToGlobalState="false"
 verbose="true">

	<testsuites>
		<testsuite name="unit">
			<directory>app/tests/unit</directory>
		</testsuite>

		<testsuite name="functional">
			<directory>app/tests/functional</directory>
		</testsuite>
		<!--
                <testsuite name="user">
                    <directory>app/tests/user</directory>
                </testsuite>
                        -->
	</testsuites>

	<!-- codecoverage filters -->
	<filter>
		<whitelist>
			<directory>app</directory>
			<exclude>
				<directory>vendor</directory>
				<directory>app/config</directory>
				<directory>app/components/widgets/views</directory>
				<directory>app/data</directory>
				<directory>app/emails</directory>
				<directory>app/i18n</directory>
				<directory>app/runtime</directory>
				<directory>app/views</directory>
				<directory>app/tests</directory>
				<directory>app/public</directory>
			</exclude>
		</whitelist>
	</filter>

	<!--


	<logging>
		<log  type="coverage-html" target="reports" />
	</logging>
	 -->


</phpunit>
