{% extends "_layout.html.twig" %}
{% set title = t.get('Import') %}
{% block content %}

    <div id="import-actions" style="width: 800px; margin: auto; text-align: left;"></div>
    {{ include('import/sync-import-new-cover-from-pdf.html.twig') }}
    {{ include('import/sync-check-files.html.twig') }}
    {{ include('import/sync-import-fs-files.html.twig') }}
    {{ include('import/sync-clear-db-files.html.twig') }}
    
    <script>
      MyLibrary.withTooltips()
      MyLibrary.import.render('#import-actions')
    </script>
{% endblock %}