{% extends "_layout.html.twig" %}
{% set title = t.get('Import') %}
{% block content %}
    <style type="text/css">
        form.import-actions {
            width: 600px;
            margin: auto;
            text-align: left;
        }

        form.import-actions fieldset {
            margin-bottom: 10px;
            padding: 20px;
        }

        form.import-actions fieldset:hover {
            background-color: rgba(218, 223, 225, 0.5);
            cursor: pointer;
        }
    </style>

    <form id="import-actions" class="import-actions"></form>
    {{ include('import-actions/check-files.html.twig') }}
    {% if config.book.ghostscript is not empty %}
        {{ include('import-actions/import-new-cover-from-pdf.html.twig') }}
    {% endif %}
    {{ include('import-actions/import-files.html.twig') }}
    {{ include('import-actions/clear-books-without-files.html.twig') }}

    <script>
      MyLibrary.import.render('#import-actions')
    </script>
{% endblock %}