<style type="text/css">
    table.php-info {
        border-collapse: separate !important;
        border-spacing: 0 !important;
    }

    table.php-info th.module {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding: 20px;
        text-shadow: 1px 1px 3px gray;
    }

    table.php-info td.parameter {
        width: 250px;
        padding-left: 5px;
        white-space: normal;
    }

    table.php-info td.value {
        word-break: break-all;
        padding-left: 5px;
        white-space: normal;
    }
</style>

<div class="ui-jqgrid ui-widget ui-widget-content ui-corner-all">
    <table class="php-info ui-jqgrid-btable">
        <tbody>
        {% for m_k, m_v in phpInfo %}
            {# group header #}
            <tr class="ui-widget-content jqgrow ui-row-ltr">
                <th colspan="2" class="module ui-state-default jqgrid-rownum">{{ m_k }}</th>
            </tr>
            {% for p_k, p_v in m_v %}
                {# info item #}
                <tr class="ui-widget-content jqgrow ui-row-ltr">
                    <td class="parameter ui-state-default jqgrid-rownum">{{ p_k }}</td>
                    <td class="value">
                        {% if p_v is iterable  %}
                            {% for val in p_v %}
                                {{ val }} <br/>
                            {% endfor %}
                        {% else %}
                            {{ p_v }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>