<script>
  MyLibrary.import.addAction({
    title: '{{ t.get('Check Books') }}',
    description: '{{ t.get("Checks database consistency for missing book files and files that do not have corresponding database records.") }}'
  }, function (e, $result, button) {
    $.get('api/config/check-files', function (data) {
        let $details = $('<div>')
        $details.append('<br>')
        $details.append('<p><b>{{ t.get('Files without book record') }}</b></p>')
        if (data.fs.length) {
          $list = $('<ul>')
          for (let i = 0; i < data.fs.length; i++) {
            $list.append($('<li>').text(data.fs[i]))
          }
          $details.append($list)
        } else {
          $details.append('<p>-</p>')
        }
        $details.append('<br>')

        $details.append('<p><b>{{ t.get('Book records without a file') }}</b></p>')
        if (data.db.length) {
          $list = $('<ul>')
          for (let i = 0; i < data.db.length; i++) {
            $list.append($('<li>').text(data.db[i]))
          }
          $details.append($list)
        } else {
          $details.append('<p>-</p>')
        }
        $details.append('<br>')

        $result.setMsg($details.prop('outerHTML'), button.title, true)
      },
      'json')
      .fail(MyLibrary.showApiFail(button.title, $result))
  })
</script>