<script>
  MyLibrary.import.addAction({
    title: '{{ t.get('Delete Books Without File') }}',
    description: '[UNSAFE] Delete books from database that don\'t have book file. Use \'Check Files\' before to see what will be removed.'
  }, function (e, $result, button) {
    $.get('api/config/count-books-without-files', function (data) {
      let records_to_remove = parseInt(data)
      let records_removed = 0

      if (records_to_remove === 0) {
        $result.setMsg('Nothing to clear from database', button.title, true)
        return
      }

      $result.empty()
      $result.append('<br/><br/><span></span><br/><br/><progress/>')
      let bar = $('progress', $result)
      let span = $('span', $result)
      bar.css('width', $result.css('width'))
      let width = parseInt(bar.css('width'))
      bar.attr('max', records_to_remove)
      bar.attr('value', 0)
      span.text(records_removed + '/' + records_to_remove)
      let stepping = Math.ceil(width / records_to_remove)

      let batcher = function (stepping) {
        $.post('api/config/clear-books-without-files', {stepping: stepping}, function (data) {
          if (data.length > 0 && bar.val() < bar.attr('max')) {
            bar.attr('value', bar.val() + data.length)
            records_removed += data.length
            span.text(records_removed + '/' + records_to_remove)
            batcher(stepping)
          } else {
            $result.append('<br/><p><b>Database was cleared from unmatched records</b></p>' + '<ul>')
          }
          console.log(data)
        }, 'json')
          .fail(MyLibrary.showApiFail(button.title, $result))
      }

      batcher(stepping)
    }, 'json')
      .fail(MyLibrary.showApiFail(button.title, $result))
  })
</script>