<script>
  MyLibrary.import.addAction({
    title: 'Import Book Covers',
    description: 'Import new cover for book from its file. Existing cover will not be updated. Currently it supports only PDF files.'
  }, function (e, $result, button) {
    $.get('api/config/books-without-cover', function (data) {
      var records_total = data.length
      var records_done = 0
      
      if (records_total === 0) {
        $result.setMsg('Nothing to do.', button.title, true)
        return
      }

      $result.empty()
      $result.append('<br/><br/><progress/><br/><br/><span id="counter"></span><span id="message"></span>')
      var bar = $('progress', $result)
      var span_counter = $('span#counter', $result)
      var span_message = $('span#message', $result)
      bar.css('width', $result.css('width'))
      var width = parseInt(bar.css('width'))
      bar.attr('max', records_total)
      bar.attr('value', records_done)
      var stepping = 1 // items on 1 request
      span_counter.text(records_done + '/' + records_total)

      var batcher = function (stepping) {
        var post = data.slice(records_done, records_done + stepping)
        if (post.length <= 0) {
          span_message.text(' Action was successful')
          return
        }
        $.post('api/config/import-new-cover-from-pdf',
          {post: post}, function (response) {
            //console.log(response);
            if (response.result) { //continue adding
              records_done += post.length
              bar.attr('value', records_done)
              span_counter.text(records_done + '/' + records_total)
              span_message.html('')
              for (var i = 0; i < response.data.length; i++) {
                span_message.append('<p>' + response.data[i] + '</p>')
              }
              batcher(stepping)
            } else {
              //error or success
              span_message.html('<p><pre>' + response.error + '</pre></p>')
              return
            }
          }, 'json')
      }

      batcher(stepping)
    }, 'json')
  })

  // if ($('#book_ghostscript').val() === '') {
  //   $('#sync-import-new-cover-from-pdf').button("option", "disabled", true)
  // }
</script>