<script>
  MyLibrary.import.addAction({
    title: 'check files (safe)',
    description: 'Find mismatched records in database and library directory'
  }, function (e, $result) {
    $.get('api/config/check-files', function (data) {
        $result.empty()

        if (data.fs.length === 0 && data.db.length === 0) {
          $result.setMsg('Great news! Your library is synced already. Keep it up.', 'Check files', true)
          return
        }

        $result.append('<br /><p><b>FileSystem only records (files)</b></p>' + '<ul>')
        for (let i = 0; i < data.fs.length; i++) {
          $result.append('<li>' + data.fs[i] + '</li>')
        }
        $result.append('</ul><br />')

        $result.append('<p><b>DB only records</b></p>' + '<ul>')
        for (let i = 0; i < data.db.length; i++) {
          $result.append('<li>' + data.db[i] + '</li>')
        }
        $result.append('</ul><br />')
      },
      'json')
  })
</script>