<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.7/phpunit.xsd"
stopOnFailure="true"
convertErrorsToExceptions="true" 
convertNoticesToExceptions="true"
convertWarningsToExceptions="true"
bootstrap="bootstrap.php">
	<testsuites>
		<testsuite name="unit">
			<directory>unit</directory>
		</testsuite>
		<testsuite name="functional">
			<directory>tests/functional</directory>
		</testsuite>
	</testsuites>
	

	
	<!-- codecoverage filters -->
	<filter>
		<blacklist>
			<directory>../../vendor</directory>
		</blacklist>
		<whitelist>
			<directory>../</directory>
			<exclude>
				
				<directory>../config</directory>
				<directory>../data</directory>
				<directory>../emails</directory>
				<directory>../i18n</directory>
				<directory>../runtime</directory>
				<directory>../views</directory>
				<directory>../tests</directory>
			</exclude>
		</whitelist>
	</filter>
	
	<!--  
	<logging>
		<log type="coverage-html" target="reports" />
	</logging>-->
	
	
</phpunit>