name: PHPUnit

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  Tests:
    runs-on: ubuntu-20.04
    strategy:
      # see https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/using-a-matrix-for-your-jobs
      fail-fast: false
      matrix:
        php_version: ['8.3']
        db_type: ['sqlite', 'mysql']
    steps:
      - uses: actions/checkout@v4
      - name: Set 'ghostscript'
        run: |
          sudo apt update
          sudo apt install ghostscript
      - name: Set PHP version
        run: sudo update-alternatives --set php /usr/bin/php${{ matrix.php_version }}
      - name: Validate composer
        run: composer validate --strict
      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v3
        with:
          path: vendor
          key: ${{ runner.os }}-php${{ matrix.php_version }}-db-type${{ matrix.db_type }}
      - name: Install dependencies
        run: |
          composer install --no-progress
          composer show --no-dev
      - name: CodeClimate - prepare
        if: github.event_name != 'pull_request' && matrix.db_type == 'sqlite'
        run: |
          wget -O cc-test-reporter https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64;
          chmod +x cc-test-reporter
          ./cc-test-reporter before-build
      - name: Run tests
        run: |
          XDEBUG_MODE=coverage ./vendor/bin/phpunit --no-coverage --do-not-cache-result --coverage-clover clover.xml
          echo "TEST_RESULT_EXIT_CODE=$?" >> "$GITHUB_ENV"
      # https://docs.codeclimate.com/docs/configuring-test-coverage
      - name: Codeclimate - report
        if: github.event_name != 'pull_request' && matrix.db_type == 'sqlite'
        env:
          COVERAGE_FILE: clover.xml
          CC_TEST_REPORTER_ID: ${{ secrets.CODE_CLIMATE_REPORT_ID }}
        run: |
          ./cc-test-reporter format-coverage
          ./cc-test-reporter after-build --exit-code
